<!DOCTYPE html>
<html>

<head>
  <title>Student Sign In</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
<div id="app">

  <div id="new-student-form-errors" class="m-2">
    <!-- TODO show errors from form validation -->
      <div v-if="formErrors.length > 0 " class="alert alert-danger">
          <li v-for="error in formErrors">
              {{error}}
          </li>
      </div>

  </div>



  <div id="new-student-form" class="card add-student m-2 p-2">
    <h4 class="card-title">Add new student</h4>
      <div class="form-group mb-3">
      <label for="name">Name</label>
      <!-- TODO v-model newStudentName -->
      <input v-model.trim="newstudentName" id="name" class="form-control">
    </div>

    <div class="form-group mb-3">
      <label for="starID">Star ID</label>
      <!-- TODO v-model newStarID -->
      <input v-model.trim="newStarID" id="starID" class="form-control">
    </div>

    <!-- TODO v-on:click event handler -->
    <button v-on:click="addStudent" class="btn btn-primary">Add</button>
  </div>


  <div id="student-list-table" class="card m-2 p-2">
    <h4 class="card-title">Student List</h4>
      <h5>{{ StudentCount }} Student(s) in class.</h5>
    <div id="student-table">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>StarID</th>
          <th>Present?</th>
        </tr>
        </thead>

        <tbody>
        <!-- TODO create table rows
        Each row will have a checkbox, bound to the app's data
        When the checkbox is checked/unchecked,
        the student will be signed in/out
        using v-for will create a loop for our table row -->

        <tr v-for="student in sortedStudents " v-bind:class="{present: student.present, absent:!student.present }">
          <td> {{ student.name}}</td>
          <td> {{ student.starID}}</td>
          <<td>
            <input type="checkbox" v-model="student.present" v-on:change="arrivedorLeft(student)">
            <span v-if="student.present" class ='mx-3'> Here! </span>
            <span v-else class = 'mx-3'> not present</span>
        </td>
          <td>
          <button v-on:click="deleteStudent(student)" class="btn-danger btn-danger" >
              <i class="bi bi-trash-fill"></i> delete  </button>
          </td>




        </tr>

        </tbody>

      </table>
    </div>
  </div>

  <div id="welcome-or-goodbye-message" class="m-2">

    <!-- TODO show a message when student arrives or leaves  -->
      <div v-if="mostRecentStudent.name" class="alert alert-success">
          Welcome, {{ mostRecentStudent.name}} !
      </div>
    <div v-else class="alert alert-info">
       Goodbye {{ mostRecentStudent.name}} see you later
    </div>

  </div>

</div>

<script>

  const { createApp, ref, computed } = Vue
  // how to setup vue rmr this part
  createApp({
    // our first step is creating reactive data




    setup() {


      const newstudentName = ref('')
      const newStarID = ref('')


       const studentList = ref([
         {name: 'A. Student ', starID: 'aa1234aa', present: false}, // ensure students name, star id and if they are present
         { name: 'B. Student', starID: 'aa1234bb', present: false},



       ])

        const formErrors = ref([])
        const mostRecentStudent= ref({})


      function addStudent() {

          formErrors.value = []
          // resets form errors and will be empty array

          if (newstudentName.value.length === 0) {
              formErrors.value.push(' student name must be entered')

          }
          if (newStarID.value.length === 0) {
              formErrors.value.push('star id must be entered')
          }
          // this part of code will ensure if there are errors and will push these messages
          if (formErrors.value.length === 0) {

              let student = {
                  name: newstudentName.value,
                  starID: newStarID.value,
                  present: false


              }
              studentList.value.push(student)
              newstudentName.value = ' '
              newStarID.value = ''

              //
              // new student.value is a string and we need value for name changes
          }
      }
      function arrivedorLeft(student) {
         // alert(student.name)
          mostRecentStudent.value = student

      }

      function deleteStudent(studentToDelete) {
          if (confirm(`Delete ${studentToDelete.name}?`)) {
              studentList.value = studentList.value.filter(student => student !== studentToDelete)
          }
      }


        //  const studentListWithoutDeletedStudent = []
          //studentList.value.forEach(student => {
             // if (student !== studentToDelete) {
             //     studentListWithoutDeletedStudent.push(student)
            //  }
         // })
         // studentList.value = studentListWithoutDeletedStudent

     // }
        const  sortedStudents = computed( () => {
            return studentList.value.toSorted( (student1, student2) => {
                return student1.name.localeCompare(student2.name)
            })
        }) // adding sorted in student will allow for code to place letters of students in order
        // for example aa will be before bb and so on and so forth

       // this will create the reactive data

        const StudentCount = computed( () => {
            return studentList.value.length
        })




   return  {
         studentList,
     newstudentName,
     newStarID,
     addStudent,
       formErrors,
       arrivedorLeft,
       mostRecentStudent, deleteStudent,
       sortedStudents,
       StudentCount





     // adding comma will help with adding future things
   // reactive data functions and computed will be returned here
   }
     }


  }).mount('#app')

</script>

</body>

</html>