#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 25%;
}

.present {
    color: darkgray;
    font-style: italic;
}

.absent {
    color: black;
    font-weight: bold;
}

