<h1> Body Mass index calculator </h1>


<form action="/calculate">
 <label for="height-input"> height </label>
    <input id = 'height-input' name="height" type="number">

    <label for="weight-input"> Weight </label>
    <input id="weight-input" name="height" type="number">


    <input type="submit" >






</form>