<h1> thank you! </h1>

<h2> thank you for your feedback, here is the data we recived </h2>

<h3>name: {{name}}</h3>
<h3> Email: {{email}} </h3>
<h3> comments: {{comments}} </h3>
<h3> current students: {{currentStudent}} </h3>

<p><a href="/">back to home page"</a></p>
